.members-outer{
    background-color: rgba(241, 243, 254, 1);
    padding: 64px 0px
}

.members-first{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.members-first h1{
    font-size: 48px;
    margin: 0px;
}

.members-second{
    margin: 40px;
    text-align: center;
    position: relative;
}

.members-third{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.members-third div{
    width: 490px;
    text-align: center;
}

.members-third-p2{
    font-size: 16px;
    color: #666666;
    margin: 0px;
}

.members-third-p1{
    margin-top: 8px;
    color: #091E80;
    font-size: 18px;
    font-weight: 700;
}

.members-third-p3{
    font-size: 18px;
    font-weight: 400;
    color: #222222;
}

.members-third-button{
    font-size: 16px;
    width: 142px;
    height: 60px;
    background-color: #3254F1;
    color: white;
    border: 0px;
    border-radius: 8px;
    margin-top: 16px;
}