.testimonials-outer{
    padding: 64px;
    background-color: rgba(241, 243, 254, 1);
}

.testimonials-first{
    display: flex;    
    flex-direction: column;
    align-items: center;
}

.testimonials-first h1{
    margin: 0px;
    font-size: 48px;
}

.testimonials-second{
    display: flex;
    justify-content: center;
}

.testimonials-second div{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 40px;
}

.testimonials-third{
    display: flex;
    justify-content: center;
}

.testimonials-third div{
    width: 660px;
    text-align: center;
}

.testimonials-third p{
    font-size: 18px;
    font-weight: 400;
    margin-top: 56px;
}

.testimonials-third h2{
    color: #091E80;
}

@media screen and (max-width:800px) {
    .testimonials-outer .services-top{
        display: flex;
    }

    .testimonials-outer{
        padding: 64px 0px;
    }

    .testimonials-first h1{
        font-size: 30px;
        text-align: center;
    }

    .testimonials-first h1 span{
        font-size: 30px;
        width: auto;
    }

    .testimonials-second div{
        width: 100%;
        padding:0px;
        justify-content: space-around;
        align-items: center;
    }


    .testimonials-second>div>img:nth-child(2),.testimonials-second>div>img:nth-child(3),.testimonials-second>div>img:nth-child(5),.testimonials-second>div>img:nth-child(6){
        display: none;
    }

    .testimonials-third{
        padding: 0px 10px;
    }
}
